.scandal-grid {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 20px;
}

.scandal-container {
	background: linear-gradient(to bottom right, #141E30, #243B55);
	padding: 10px 10px;
	margin: 20px 10px;
	border-width: 4px;
	border-style: solid;
	border-image: 
	  linear-gradient(to bottom right, #00ccff, #243B55, #d400d4) 1;
	display: grid;
	grid-template-columns: 70% 30%;
}

.scandal-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.scandal-text {
	width: 100%;
	text-align: right;
}

.scandal-text p:first-of-type {
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}

.scandal-text a {
	font-weight: 700;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.scandal-backup {
	font-size: .7rem;
}

@media (max-width: 700px) {
	.scandal-container {
		grid-template-columns: 1fr;
	}
}