.cookie-container {
	width: 350px;
	height: 240px;
	z-index: 999;
	position:fixed;
	top: 65vh;
	right: 20px;
	/* background: linear-gradient(to bottom right, #141E30, #243B55); */
	background-color: aliceblue;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 40px rgba(255,255,255,.2);
}

.cookie-container p {
	color: black;
	text-align: justify;
	font-size: .95rem;
}

.cookie-container p a {
	color: black;
	font-size: .95rem;
	margin-left: 5px;
}

.cookie-container .cookie-button {
	width: 48%;
	margin: 1%;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: rgb(255, 87, 87);
	color: black;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
}

.cookie-container .button-accept-some {
	width: 98%;
	margin: 1%;
	margin-top: 5px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: rgb(168, 168, 168);
	color: black;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}

.cookie-container .cookie-button:nth-of-type(1) {
	background-color: rgb(160, 225, 63);
	color: black;
}

.hidden {
	display: none;
}